/* style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    border: 4px;
    border-radius: 0 8px 8px 8px;
    font-family: 'Pretendard', sans-serif;
    background-color: #f4f5f7;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 104px;
    border-bottom: 1px solid #000;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.login-container {
    background: #f4f5f7;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

h2 {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.input-group {
    margin-bottom: 1rem;
    font-size: 15px;
}

.input-group label {
    display: block;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 0.5rem;
    color: #000;
}

.input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    /* 패딩 포함 너비 계산 */
}

.input-group input::placeholder {
    color: #000;
    font-weight: 400;
    line-height: 100%;
    font-style: normal;
    font-size: 14px;
}

.error-border {
    border-color: #FF3333;
}

.input-group span {
    color: #FF3333;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    border: 4px;
    border-radius: 8px 8px 8px;
    padding: 4px;
}

.login-btn {
    width: 100%;
    padding: 1rem;
    background-color: #ACA0EB;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    font-style: bold;
    cursor: pointer;
    margin-top: 1rem;
}

.login-btn:hover {
    background-color: #0056b3;
}

.links {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.links a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}